header {
    background-color: #85BEE8;
    height:80px;
    padding: 10px 0px;
    font-family: "Lora", serif;
}
p{
    font-family: "Lora", serif;
    font-size: 10px;
}
#avatar {
    height: 60px;
    margin-left: 10px;
}
.Navigation{
    display: flex;
    justify-content: space-between;
}
.menu{
    margin-right: 20px;
    margin-left: 20px;
}
.menu #button::before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://flagsapi.com/BE/flat/32.png");
}
.Navigation .menu a{
    background-color: #85BEE8;
    color: white;
    padding: 5px;
    border:1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
.menu .content a{
    box-shadow: 2px 2px 5px black;
}
.menu a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px;
    border: white 1px solid;
}
.menu .content{
    display: none;
    position: absolute;
    min-width: max-content;
}
.menu:hover .content{
    display: block;
}
.menu:hover #button{
    background-color: white;
    color: #85BEE8;
}
.menu .content a:hover{
    background-color: white;
    color: #85BEE8;
}
.nav{
    color: white;
    margin: 25px;
    text-decoration: none;
    font-size: 15px;
}
#active{
    color: white;
    text-decoration: underline;
}
#Biography{
    color: white;
    background-color: #F298C0;
}
#TekstBiography{
    margin: 20px;
    font-size: 15px;
    font-family: "Lora", serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #F298C0;
}
h1{
    font-family: "PT serif", serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 20px;
}
#avatar2{
    width: 70px;
    display: flex;
    margin-left: 80vw;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#Portfoliosneakpeak img{
    height: 400px;
    width: auto;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #85BEE8;
    padding: 10px;
    border: #85BEE8 solid 1px;
    border-radius: 20px;
}
#Contact{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    height: 70vh;
    position: relative;
    isolation: isolate;
}
#Contact::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.3;
    background-image: url(background.png);
    background-position: center;
}
#img{
    width: 250px;
    height: auto;
    margin: 10px;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
    justify-self: center;
    position: relative;
    bottom: 110%;
}
.email{
    margin-bottom: 550px;
    margin-left: 30px;
    padding: 10px;
}
#Contact p{
    font-weight: bold;
}
#Contact a{
    text-decoration: none;
    color: black;
}
.avatar5{
    padding: 10px;
}
#Abilities{
    background-color: #85BEE8;
    color: white;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
#Abilities p{
    color: white;
}
#hob{
    margin: 20px;
    padding: 10px;
}
#Inspiration{
    margin: 20px;
    background-color: #F298C0;
    color: white;
}
#Inspiration img{
    width: 60px;
    margin-left: 380px;
}
#Inspiration p{
    padding: 10px;
}
#Hobby{
    margin-left: 70px;
}
.kolom1{
    margin: 10px;
    grid-template-rows: 2;
    grid-column: 1;
    position: relative;
    top: 20%;
}
.kolom2{
    margin: 10px;
    grid-template-rows: 2;
    grid-column: 2;
    position: relative;
    bottom: 200%;
}


@media screen and (min-width: 768px){
#Portfoliosneakpeak{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    width: 80vw;
}
#pf1{
    display: flex;
    grid-column: 1;
    width: 10px;
    height: auto;
}
#pf2{
    display: flex;
    grid-column: 2;
    width: 10px;
    height: auto;
}
#pf3{
    display: flex;
    grid-column: 3;
    width: 10px;
    height: auto;
}
#Portfoliosneakpeak a{
    display: grid;
    grid-column: 4;
    height: 10px;
}
#Biography{
    width: 50vw;
}
#Biography img{
    margin-left: 45vw;
}

}



