header {
    background-color: 85BEE8;
    height: 110px;
    padding: 10px 0px;
}
#avatar {
    height: 100px;
}
.selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 100px;
}
.selected-lang::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://flagsapi.com/BE/flat/32.png");
}
.lang-mengu {
    margin-top: 25px;
}
.lang-mengu ul {
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid #f8f8f8;
    
}